
/*Header*/
.header{
    background-color: #CEE5D0;
    height: 100vh;
    padding-bottom: 3%;
    padding-left: 0%;
}

.title{
    font-size: 40px;
    line-height: 15px;
    align-items: center;
    text-align: left;
    color: #8C938D;
    padding-top: 3rem;
    padding-left: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.title-image{
    display: block;
    margin: auto;
    margin-top: 12%;
    width: 55%;
}

.row{
    --bs-gutter-x: 0rem;
}
/*Options*/

.options{
    background-color: #94B49F;
    height: 100vh;
    padding: 0;
    text-align: center;
}

.options-btn{
    margin-top: 18%;
}

.sub-title{
    font-style: normal;
    font-size: 25px;
    line-height: 23px;
    color: #CEE5D0;
    padding: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    
}

.btn{
    display: block;
    background-color: #CEE5D0;
    margin: 5% 0;
    transition: box-shadow .5s ease-in-out;
    transition: background-color .4s ease-in-out;
    font-family: 'Inter', sans-serif;
}

.main-btn{
    padding: 1%;
    margin: 7% 0;
    transition: background-color .4s ease-in-out;
    transition: box-shadow .4s ease-in-out;
}

.btn:hover{
    background-color: #b2ccb5;
    border-color: #8C938D;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.4);
    transition: background-color .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
}

.download-section{
    margin-top: 40px;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}
.download-section:hover{
    color: #b2ccb5
}
